{% extends 'core/base.html' %}

{% load static %}

{% block content %}

    <!-- Main -->
    <main role="main" class="container">

        <!-- PRUEBA -->
        <!--
        <script type="text/javascript">
        // Treeview Initialization
        $(document).ready(function() {
          $('.treeview').mdbTreeview();
        });
        </script>

        <div class="treeview w-20 border">
            <h6 class="pt-3 pl-3">Folders</h6>
            <hr>
            <ul class="mb-1 pl-3 pb-2">
              <li><i class="fas fa-angle-right rotate"></i>
                <span><i class="far fa-envelope-open ic-w mx-1"></i>Mail</span>
                <ul class="nested">
                  <li><i class="far fa-bell ic-w mr-1"></i>Offers</li>
                  <li><i class="far fa-address-book ic-w mr-1"></i>Contacts</li>
                  <li><i class="fas fa-angle-right rotate"></i>
                    <span><i class="far fa-calendar-alt ic-w mx-1"></i>Calendar</span>
                    <ul class="nested">
                      <li><i class="far fa-clock ic-w mr-1"></i>Deadlines</li>
                      <li><i class="fas fa-users ic-w mr-1"></i>Meetings</li>
                      <li><i class="fas fa-basketball-ball ic-w mr-1"></i>Workouts</li>
                      <li><i class="fas fa-mug-hot ic-w mr-1"></i>Events</li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><i class="fas fa-angle-right rotate"></i>
                <span><i class="far fa-folder-open ic-w mx-1"></i>Inbox</span>
                <ul class="nested">
                  <li><i class="far fa-folder-open ic-w mr-1"></i>Admin</li>
                  <li><i class="far fa-folder-open ic-w mr-1"></i>Corporate</li>
                  <li><i class="far fa-folder-open ic-w mr-1"></i>Finance</li>
                  <li><i class="far fa-folder-open ic-w mr-1"></i>Other</li>
                </ul>
              </li>
              <li><i class="fas fa-angle-right rotate"></i>
                <span><i class="far fa-gem ic-w mx-1"></i>Favourites</span>
                <ul class="nested">
                    <li><i class="fas fa-pepper-hot ic-w mr-1"></i>Restaurants</li>
                    <li><i class="far fa-eye ic-w mr-1"></i>Places</li>
                    <li><i class="fas fa-gamepad ic-w mr-1"></i>Games</li>
                    <li><i class="fas fa-cocktail ic-w mr-1"></i>Coctails</li>
                    <li><i class="fas fa-pizza-slice ic-w mr-1"></i>Food</li>
                  </ul>
              </li>
              <li><i class="far fa-comment ic-w mr-1"></i>Notes</li>
              <li><i class="fas fa-cogs ic-w mr-1"></i>Settings</li>
              <li><i class="fas fa-desktop ic-w mr-1"></i>Devices</li>
              <li><i class="fas fa-trash-alt ic-w mr-1"></i>Deleted Items</li>
            </ul>
          </div>
            -->
          <!-- PRUEBA -->

        <!-- Cabecera -->
        <div class="p-2 mt-4">
            <p class="h1 text-center titulo">Índice General</p>
        </div>
        <!-- Cabecera -->

        <div class="dropdown-center">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Año
            </button>
            <ul class="dropdown-menu">
                {% for key, value in tertu_dic.items %}
                <li><a class="dropdown-item" href="#">{{key}}</a></li>
                {% endfor %}
            </ul>
        </div>


        <!-- Cuerpo -->
        <div class="lead pt-5 pb-5 cuerpo" style="font-size: medium">
            <!--
            <div class="row align-items-start">
                <hr>
                <p>Años disponibles:

                    {% for key, value in tertu_dic.items %}
                        <p>{{key}}: {{value}}</p>
                        <p>
                        {{key}}:
                        {% for i in value %}
                            {{i}} 
                        {% endfor %}
                        </p>
                    {% endfor %}

                </p>
                <hr>
                <p>
                    
                </p>
                <hr>
            </div>
            -->

            <main role="main" class="container" style='padding-top: 75px;'>
                <table class="table table-collapsed table-striped">
                    <thead class="table-dark">
                    <tr>
                        <th scope="col">Año</th>
                        <th scope="col">Mes</th>
                    </tr>
                    </thead>
                    {% for key, value in tertu_dic.items %}
                    <tbody>
                    <tr>
                        <td><a href="">{{key}}</a></td>
                        <td>{% for i in value %}
                            <a href="">{{i}}</a> |
                            {% endfor %}
                        </td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </main>


            <!-- Primera fila -->
            <div class="row align-items-start">
                {% for key, value in tertu_dic.items %}
                <div class="col-2">
                    <ul style="list-style: none;">
                        <h3><a href="">{{key}}</h3>
                        {% for i in value %}
                        <li><a href="{% url 'Reader' year=key month=i %}">{{i}}</a></li>
                        {% endfor %}
                        
                    </ul>
                </div>
                {% endfor %}
            <!-- Segunda fila -->
            
            <div class="row align-items-start">
                <div class="col">
                    <ul style="list-style: none;">
                        <h3>2003</h3>
                        <li><a href="">Enero</a></li>
                        <li><a href="">Febrero</a></li>
                        <li><a href="">Marzo</a></li>
                        <li><a href="">Abril</a></li>
                        <li><a href="">Mayo</a></li>
                        <li><a href="">Junio</a></li>
                        <li><a href="">Julio</a></li>
                        <li><a href="">Agosto</a></li>
                        <li><a href="">Septiembre</a></li>
                        <li><a href="">Octubre</a></li>
                        <li><a href="">Noviembre</a></li>
                        <li><a href="">Diciembre</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul style="list-style: none;">
                        <h3>2004</h3>
                        <li><a href="">Enero</a></li>
                        <li><a href="">Febrero</a></li>
                        <li><a href="">Marzo</a></li>
                        <li><a href="">Abril</a></li>
                        <li><a href="">Mayo</a></li>
                        <li><a href="">Junio</a></li>
                        <li><a href="">Julio</a></li>
                        <li><a href="">Agosto</a></li>
                        <li><a href="">Septiembre</a></li>
                        <li><a href="">Octubre</a></li>
                        <li><a href="">Noviembre</a></li>
                        <li><a href="">Diciembre</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul style="list-style: none;">
                        <h3>2005</h3>
                        <li><a href="">Enero</a></li>
                        <li><a href="">Febrero</a></li>
                        <li><a href="">Marzo</a></li>
                        <li><a href="">Abril</a></li>
                        <li><a href="">Mayo</a></li>
                        <li><a href="">Junio</a></li>
                        <li><a href="">Julio</a></li>
                        <li><a href="">Agosto</a></li>
                        <li><a href="">Septiembre</a></li>
                        <li><a href="">Octubre</a></li>
                        <li><a href="">Noviembre</a></li>
                        <li><a href="">Diciembre</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul style="list-style: none;">
                        <h3>2006</h3>
                        <li><a href="">Enero</a></li>
                        <li><a href="">Febrero</a></li>
                        <li><a href="">Marzo</a></li>
                        <li><a href="">Abril</a></li>
                        <li><a href="">Mayo</a></li>
                        <li><a href="">Junio</a></li>
                        <li><a href="">Julio</a></li>
                        <li><a href="">Agosto</a></li>
                        <li><a href="">Septiembre</a></li>
                        <li><a href="">Octubre</a></li>
                        <li><a href="">Noviembre</a></li>
                        <li><a href="">Diciembre</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul style="list-style: none;">
                        <h3>2007</h3>
                        <li><a href="">Enero</a></li>
                        <li><a href="">Febrero</a></li>
                        <li><a href="">Marzo</a></li>
                        <li><a href="">Abril</a></li>
                        <li><a href="">Mayo</a></li>
                        <li><a href="">Junio</a></li>
                        <li><a href="">Julio</a></li>
                        <li><a href="">Agosto</a></li>
                        <li><a href="">Septiembre</a></li>
                        <li><a href="">Octubre</a></li>
                        <li><a href="">Noviembre</a></li>
                        <li><a href="">Diciembre</a></li>
                    </ul>
                </div>
            
            </div>
    
        </div>

        <!-- Cuerpo -->

    </main>
    <!-- Main -->

{% endblock %}