{% extends 'core/base.html' %}

{% load static %}

{% block content %}

    <!-- Main -->
    <main role="main" class="container">
        <div class="">

            <!-- Cabecera -->
            <div class="p-2 mt-4">
                <p class="h1 text-center titulo">{{ configuracion.titulo}}</p>
            </div>
            <!-- Cabecera -->

            <!-- Subcabecera -->
            <div class="">
                <p class="lead text-center subtitulo">{{ configuracion.subtitulo }}</i></p>
            </div>
            <!-- Subcabecera -->

            <!-- Resumen -->
            <div class="mt-5 mb-5">
                <hr class="inicio">
                <p class="lead resumen_contenido">{{ configuracion.texto_portada }}</p>
                <hr class="inicio">
            </div>
            <!-- Resumen -->

            <!-- Cuerpo -->
            <div class="lead pt-5 pb-5 cuerpo">
                    
            </div>
            <!-- Cuerpo -->

        </div>
    </main>
    <!-- Main -->

{% endblock %}