{% extends 'core/base.html' %}

{% load static %}

{% block content %}

    <!-- Main -->
    <main role="main" class="container">
        <div class="">

            <!-- Cabecera -->
            <div class="p-2 mt-4">
                <p class="h1 text-center titulo">Archivo de Tertulias de ¿Agustín García Calvo?</p>
            </div>
            <!-- Cabecera -->

            <!-- Subcabecera -->
            <div class="">
                <p class="lead text-center subtitulo">Bienvenidos al Archivo de Tertulias de Agustín García Calvo</i></p>
            </div>
            <!-- Subcabecera -->

            <!-- Resumen -->
            <div class="mt-5 mb-5">
                <hr class="inicio">
                <p class="lead resumen_contenido">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at tempor lectus. Etiam pharetra, sem a sagittis blandit, tortor odio euismod risus, eu tristique est nisi id sem. Pellentesque sodales est a diam aliquet commodo. Duis lobortis ante nec eros luctus, a lacinia dolor feugiat. Fusce sollicitudin, felis tempus placerat imperdiet, turpis lacus placerat justo, eu ullamcorper lacus metus ut felis. Aenean fringilla et tortor at rutrum. Etiam at est eget nunc accumsan sagittis in vel orci. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin quis hendrerit tortor.</p>
                <hr class="inicio">
            </div>
            <!-- Resumen -->

            <!-- Cuerpo -->
            <div class="lead pt-5 pb-5 cuerpo">
                    
            </div>
            <!-- Cuerpo -->

        </div>
    </main>
    <!-- Main -->

{% endblock %}