{% extends 'core/base.html' %}

{% load static %}

{% block content %}

    <!-- Main -->
    <main role="main" class="container">
        <div class="">

            <!-- Cabecera -->
            <div class="p-2 mt-4">
                <p class="h1 text-center titulo">Índice Temático</p>
            </div>
            <!-- Cabecera -->

            <!-- Cuerpo -->
            <div class="lead pt-5 pb-5 cuerpo container">
                <section class="mindex">
                    <!--A-->
                    <h2>A</h2> 
                    <dl>
                        <dt>accordion, layouts</dt>
                        <dd><a href="">about 128</a></dd>
                        <dd><a href="">movie form, adding 13</a>1</dd>
                        <dd><a href="">nesting, in tab 128,12</a>9</dd>
                    </dl>
                    <dl>
                        <dt>Adapters, Ext.</dt>
                        <dd><a href="">about 18</a</dd>
                        <dd><a href="">using 18, 20</a</dd>
                    </dl>
                    <!--B-->
                    <h2>B</h2> 
                    <dl>
                        <dt>accordion, layouts</dt>
                        <dd><a href="">about 128</a></dd>
                        <dd><a href="">movie form, adding 13</a>1</dd>
                        <dd><a href="">nesting, in tab 128,12</a>9</dd>
                    </dl>
                    <dl>
                        <dt>Adapters, Ext.</dt>
                        <dd><a href="">about 18</a</dd>
                        <dd><a href="">using 18, 20</a</dd>
                    </dl>
                    <!--C-->
                    <h2>C</h2> 
                    <dl>
                    <dt>accordion, layouts</dt>
                        <dd><a href="">about 128</a></dd>
                        <dd><a href="">movie form, adding 13</a>1</dd>
                        <dd><a href="">nesting, in tab 128,12</a>9</dd>
                    </dl>
                    <dl>
                        <dt>Adapters, Ext.</dt>
                        <dd><a href="">about 18</a</dd>
                        <dd><a href="">using 18, 20</a</dd>
                    </dl>
                    <!-- and so on --> 
                    <h2>D</h2>
                    <dl>
                        <dt>z-index,layouts</dt>
                        <dd><a href="">about 328</a></dd>
                        <dd><a href="">absolute, fixed, relative 403</a1</dd>
                        <dd><a href="">nesting, childs 142,144</a></dd>
                        <dd><a href="">using 180,200</a0</dd>
                    </dl>

                    <!--E-->
                    <h2>E</h2> 
                    <dl>
                        <dt>accordion, layouts</dt>
                        <dd><a href="">about 128</a></dd>
                        <dd><a href="">movie form, adding 13</a>1</dd>
                        <dd><a href="">nesting, in tab 128,12</a>9</dd>
                    </dl>
                    <dl>
                        <dt>Adapters, Ext.</dt>
                        <dd><a href="">about 18</a</dd>
                        <dd><a href="">using 18, 20</a</dd>
                    </dl>

                    <!--F-->
                    <h2>F</h2> 
                    <dl>
                        <dt>accordion, layouts</dt>
                        <dd><a href="">about 128</a></dd>
                        <dd><a href="">movie form, adding 13</a>1</dd>
                        <dd><a href="">nesting, in tab 128,12</a>9</dd>
                    </dl>
                    <dl>
                        <dt>Adapters, Ext.</dt>
                        <dd><a href="">about 18</a</dd>
                        <dd><a href="">using 18, 20</a</dd>
                    </dl>
                    <!--G-->
                    <h2>G</h2> 
                    <dl>
                        <dt>accordion, layouts</dt>
                        <dd><a href="">about 128</a></dd>
                        <dd><a href="">movie form, adding 13</a>1</dd>
                        <dd><a href="">nesting, in tab 128,12</a>9</dd>
                    </dl>
                    <dl>
                        <dt>Adapters, Ext.</dt>
                        <dd><a href="">about 18</a</dd>
                        <dd><a href="">using 18, 20</a</dd>
                    </dl>
                    <!--H-->
                    <h2>H</h2> 
                    <dl>
                    <dt>accordion, layouts</dt>
                        <dd><a href="">about 128</a></dd>
                        <dd><a href="">movie form, adding 13</a>1</dd>
                        <dd><a href="">nesting, in tab 128,12</a>9</dd>
                    </dl>
                    <dl>
                        <dt>Adapters, Ext.</dt>
                        <dd><a href="">about 18</a</dd>
                        <dd><a href="">using 18, 20</a</dd>
                    </dl>
                    <!-- and so on --> 
                    <h2>Z</h2>
                    <dl>
                        <dt>z-index,layouts</dt>
                        <dd><a href="">about 328</a></dd>
                        <dd><a href="">absolute, fixed, relative 403</a1</dd>
                        <dd><a href="">nesting, childs 142,144</a></dd>
                        <dd><a href="">using 180,200</a0</dd>
                    </dl>

                </section>
            </div>
            <!-- Cuerpo -->

        </div>
    </main>
    <!-- Main -->

{% endblock %}